<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
    
            <nav-menu [pageTitle]="pageTitle"></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <!-- 
                router-outlet est un placeholder
                il sera remplacé par Angular avec le code HTML pertinent étant donné votre navigation
                ne rien mettre à l'intérieur de la balise (espace, code...
                -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
