<header></header>

<filter (filterRequested)="onFilterRequested($event)"></filter>

<h1 class="pageTitle">{{pageTitle}}</h1>
Trier par: <select [(ngModel)]="sortFilter">
    <option></option>
    <option value="creation">Date création</option>
    <option value="activity">Activité</option>
    <option value="votes">Nb votes</option>
</select>

<input type="checkbox" (change)="ToggleView()" /> Vue simplifiée

<div>{{errorMessage}}</div>

<div *ngIf="questions && questions.length">
    <div class="question" *ngFor="let question of sortedQuestions">
        <div class="quotas" *ngIf="detailedView">
            <div class="badge">Votes: {{question.view_count}}</div>
            <div class="badge">Rép: {{question.answer_count}}</div>
        </div>
        <div class="items">
            <div>
                <a class="title" [routerLink]="['/questions',question.question_id]">{{question.title | titlecase}}</a>
            </div>
            <div class="tags" *ngIf="detailedView">
                <div class="tag" *ngFor="let tag of question.tags">{{tag | uppercase}}</div>
            </div>
            <div class="user" *ngIf="detailedView">
                <img class="gravatar" [src]='question.owner.profile_image' [title]="question.name" />
                <div class="other">
                    <div class="date">{{question.creation_date | epochToDate:'dd/MM/yyyy'}}</div>
                    <div class="name">{{question.owner.display_name}}</div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div *ngIf="!sortedQuestions || !sortedQuestions.length" class="alert" alert-warning>
    Désolé, mais aucune question ne correspond à vos critères
</div>
