<header [quotas]="quotas"></header>

<filter (filterRequested)="onFilterRequested($event)"></filter>

Trier par: <select [(ngModel)]="sortFilter">
    <option></option>
    <option value="hot">Hot</option>
    <option value="activity">Activité</option>
    <option value="votes">Votes</option>
</select>

<input type="checkbox" (change)="ToggleView()" /> Vue simplifiée

<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

<h1 class="pageTitle">{{pageTitle}}</h1>

<div *ngIf="questions && questions.length">
    <div class="question" *ngFor="let question of questions">
        <div class="quotas" *ngIf="detailedView">
            <div class="badge">Rép: {{question.answer_count}}</div>
            <div *ngIf="question.score" class="badge">Votes: {{question.score}}</div>
            <div class="badge">Vu: {{question.view_count}}</div>
        </div>
        <div class="items">
            <div>
                <a class="title" [routerLink]="['/questions',question.question_id]">{{question.title | titlecase}}</a>
            </div>
            <div class="tags" *ngIf="detailedView">
                <div class="tag" *ngFor="let tag of question.tags">{{tag | uppercase}}</div>
            </div>
            <div class="user" *ngIf="detailedView">
                <img class="gravatar" [src]='question.owner.profile_image' [title]="question.name" />
                <div class="other">
                    <div class="date">{{question.creation_date | epochToDate:'dd/MM/yyyy'}}</div>
                    <div class="name">{{question.owner.display_name}}</div> 
                    <div class="badge">{{question.owner.reputation}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning" *ngIf="questions && questions.length">
    Il y a peut-être d'autres résultats, mais je ne gère pas la pagination
</div>

<div *ngIf="questions && questions.length == 0" class="alert alert-success">
    Désolé, mais aucune question ne correspond à vos critères
</div>
