
<div *ngIf="comments">  
    <div *ngFor="let comment of comments">
        <div [innerHTML]="comment.body | keepHtml"></div>

        <div class="user">
            <img class="gravatar" [src]='comment.owner.profile_image' [title]="comment.name" />
            <div class="other">
                <div class="date">{{comment.creation_date | epochToDate:'dd/MM/yyyy'}}</div>
                <div class="name">{{comment.owner.display_name}}</div>
                <div class="badge">{{comment.owner.reputation}}</div>
            </div>
        </div>

        <hr />
    </div>
</div>
